body
{
	background-color: black;
	color: gray;
	padding: 0;
	margin: 0;
}

a
{
	color: gray;
	background-color: inherit;
}

/* Random CSS */
#A
{
	position: absolute;
	bottom: 23%;
	left: 60%;
	font-size: 2.5em;
	font-weight: thin;
	z-index: 10;
	color: red;
}

.B
{
	position: relative;
	top: 100px;
	left: 20px;
	padding: .5em;
	border: 1px solid white;
	z-index: 12;
}
.B:hover
{
	border-color: red;
}

#C, #D
{
	list-style: square;
	position: absolute;
	top: 40px;
	left: 60%;
	color: blue;
	background-color: white;
	border: 5px dotted red;
	padding: 1em;
	z-index: 8;
}

#D
{
	top: 40%;
	left: 30%;
}

ul#C
{
	color: green;
}

img
{
	border: 0;
	z-index: 6;
}

#F
{
	position: absolute;
	top: 10%;
	right: 10px;
	width: 20%;
	padding: .5em;
	background-color: #222;
	border: 1px solid white;
	z-index: 5;
}

#F img
{
	float: left;
	margin: .25em;
}

#G
{
	position: absolute;
	bottom: 10%;
	left: 200px;
	width: 30%;
	height: 20em;
	padding: 1em;
	background-color: #555;
	border: 3px solid white;
	overflow: auto;
	z-index: 4;
}

.B
{
	color: yellow;
	background-color: green;
}

/* MENU */
#menu
{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 20px;
	font-family: sans-serif;
	border-bottom: 1px solid gray;
}

#menu li
{
	display: inline;
	float: left;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 1em;
	padding-right: 1em;
	border-right: 2px solid gray;
	border-left: 2px solid gray;
}

#menu a
{
	font-weight: bolder;
	text-decoration: none;
	text-transform: capitalize;
}
