.hidden
{
/*	display: none;*/
}

#products div
{
	position: relative;
	display: inline;
	border: 1px solid gray;
	margin: .25em;
	padding: .25em;
	height: 100px;
	width: 100px;
}
#products div:hover
{
	border: 1px solid black;
}
#products img
{
	position: relative;
	height: 100px;
	width: 100px;
}
#products .name
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
}
#save
{
	background-color: #50D;
	border: 1px solid #FFF;
	color: #FFF;
}
#save:hover
{
	background-color: #50E;
}

body
{
	padding: 0;
	margin: 0;
	background-color: black;
	color: gray;
}

.clear
{
	clear: both;
}
